// bower:scss
// endbower

body{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  &.in-transition {
    transition: transform 500ms ease;
  }
}

#home{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: radial-gradient(#c5c8cc,#aaacaf,#8b8d91);

  #circle{
  position: relative;
  top: calc(50vh - 20vh);
  left: calc(50vw - 20vh);
  padding: 0;
  margin: 0;
  height: 40vh;
  width: 40vh;

   .half-circle{
     margin: 0;
     padding: 0;
     height:50%;
     width:100%;
     border-radius: 200px 200px 0 0;
     -webkit-border-radius: 200px 200px 0 0;
     box-shadow: 0 0 10px rgba(51,51,51,.8);
     z-index: 20;

      &#first{
       position: absolute;
       top: 7.5%;
       left: -17.5%;
       background: white;
       overflow: hidden;
       transform: rotate(-45deg);
       -webkit-transform: rotate(-45deg);

       transition: transform 1s cubic-bezier(.69,0,0,.99) .25s;
       -webkit-transition: transform 1s cubic-bezier(.69,0,0,.99) .25s;


        &:before{
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          pointer-events:none;
          background-image: url('/images/denimtexture.png');
          content: "";
          background-size: 100%;
          z-index: 0;

        }

       &.clicked{
         transform: rotate(-45deg) translate(-25%,-2%);
         -webkit-transform: rotate(-45deg) translate(-25%,-2%);
       }

      }
      &#second{
       position: absolute;
       top: 42.5%;
       left: 17.5%;
       background:red;
       overflow:hidden;
       transform: rotate(135deg);
       -webkit-transform: rotate(135deg);

       transition: transform 1s cubic-bezier(.69,0,0,.99) .25s;
       -webkit-transition: transform 1s cubic-bezier(.69,0,0,.99) .25s;

        &:before{
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background: url('/images/bapetexture.png');
          content: "";
          background-size: 100%;
          background-repeat: no-repeat;
          z-index: 0;

        }
       &.clicked{
             transform: rotate(135deg) translate(-25%,-2%);
             -webkit-transform: rotate(135deg) translate(-25%,-2%);
        }
      }

    }



    .circle-tab{
      position: absolute;
      top: 50%;
      left: 50%;
      height: 25%;
      width: 25%;
      border-radius: 50%;
      z-index: 10;
      visibility: hidden;
      overflow: hidden;
      text-align: center;


      transition: top 1.2s ease-out,
                  left 1.2s ease-out,
                  visibility .7s linear;
      -webkit-transition: top 1.2s ease-out,
                  left 1.2s ease-out,
                  visibility .7s linear;

      span{
        opacity: 0;
        font-family: monospace;
        font-weight: bold;
        position: relative;
        top: 35%;
      }

      &:hover{
        span{
          opacity: 1;
        }
      }

      &.left-circle{
          background-color: rgba(105, 152, 188,.8);
      }

      &.right-circle{
          background-color: rgba(73, 102, 79,.8);
      }

      &.display{
        visibility: visible;
      }

    }
  }
}

.content-page{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: radial-gradient(#c5c8cc,#aaacaf,#8b8d91);
  display:none;


  .content{
    position: relative;
    height: 100vh;
    width: 120vh;
    max-width: 100vw;
    margin-left: auto;

    .title{
      width: 80%;
      font-size:4em;
      font-family: "Allerta Stencil";
      font-weight: 900;
    }
    .bar{
      height: 1em;
      width: 80%;
      background: rgba(0,0,0,1);
    }

    .img{
      min-height: 200px;
      width: 200px;

      .info{
        height: 100%;
        width: 100%;
        opacity: 0;
        text-align: center;
        display: inline-block;
        text-justify: distribute;
        font-family: Helvetica;
        color: white;
        background: rgba(0,0,0,.5);

        transition: opacity .5s;
        -webkit-transition: opacity .5s;

        article{
          border: 3px solid white;
          margin: 1em;
          overflow: auto;
        }
      }

      &:hover{
        z-index:6 !important;

        .info{
          opacity: 1;
        }
      }
    }

    &.right{
      .title,.bar{
        position:absolute;
        right: 2%;
      }
      .title{
        top: 50%;
        text-align: right;
        z-index: 4;
      }
      .bar{
        top: calc(50% + 5em);
        z-index: 2;
      }
      .first{
        position: absolute;
        top: 48%;
        left: 65%;
        height: 50%;
        width: 30%;
        background: rgba(161,91,140,1);
        z-index: 1;
      }
      .second{
        position: absolute;
        top: 13%;
        left: 5%;
        height: 80%;
        width: 40%;
        background: rgba(161,191,140,1);
        z-index: 1;
      }
      .third{
        position: absolute;
        top: 5%;
        left: 40%;
        height: 70%;
        width: 30%;
        background: rgba(131,191,220,1);
        z-index: 3;
      }
    }

    &.left{
      margin-left: 0;
      margin-right:auto;
      .title,.bar{
        position:absolute;
        left: 2%;
      }
      .title{
        top: 50%;
        text-align: left;
        z-index: 4;
      }
      .bar{
        top: calc(50% + 5em);
        z-index: 2;
      }
      .first{
        position: absolute;
        top: 48%;
        right: 65%;
        height: 50%;
        width: 30%;
        background: rgba(161,91,140,1);
        z-index: 1;
      }
      .second{
        position: absolute;
        top: 13%;
        right: 5%;
        height: 80%;
        width: 40%;
        background: rgba(161,191,140,1);
        z-index: 1;
      }
      .third{
        position: absolute;
        top: 5%;
        right: 40%;
        height: 70%;
        width: 30%;
        background: rgba(131,191,220,1);
        z-index: 3;
      }
    }


    &#leisure{

      .first{
        background: url('/images/leisure/matsuri.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 70%;
        top: 25%;
        background: url('/images/leisure/woodblock.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        left: 25%;
        background: url('/images/leisure/pachinko.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#guilt{

      .first{
        height: 20%;
        width: 40%;
        top: 55%;
        right: 55%;
        background: url('/images/guilt/guilt_2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 70%;
        top: 25%;
        background: url('/images/guilt/mother_guilt.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        right: 25%;
        background: url('/images/guilt/guilt_1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#zoku{

      .first{
        background: url('/images/zoku/miyuki2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .second{
        height: 70%;
        top: 25%;
        background: url('/images/zoku/miyuki.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        left: 25%;
        background: url('/images/zoku/bousou.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#neets{

      .first{
        height: 20%;
        width: 40%;
        top: 55%;
        right: 55%;
        background: url('/images/neet/hikikomori.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 30%;
        top: 45%;
        background: url('/images/neet/hikikomori2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 40%;
        width: 60%;
        top: 10%;
        right: 25%;
        background: url('/images/neet/freet.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#ngr{

      .first{
        background: url('/images/ngr/ngr.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 70%;
        top: 25%;
        left: -1%;
        background: url('/images/ngr/salaryman.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        left: 25%;
        background: url('/images/ngr/toho.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#hiphop{

      .first{
        height: 20%;
        width: 40%;
        top: 55%;
        right: 55%;
        background: url('/images/hiphop/killa2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 70%;
        top: 25%;
        background: url('/images/hiphop/kohh.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        right: 25%;
        background: url('/images/hiphop/killa.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#denim{

      .first{
        height: 40%;
        width: 40%;
        left: 50%;
        background: url('/images/denim/gapdenim.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 70%;
        top: 25%;
        background: url('/images/denim/evisu.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        left: 25%;
        background: url('/images/denim/denim.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#harajuku{

      .first{
        height: 20%;
        width: 40%;
        top: 55%;
        right: 55%;
        background: url('/images/');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 70%;
        top: 25%;
        background: url('/images/nigo_jun/bapemodel.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        right: 25%;
        background: url('/images/nigo_jun/undercover.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#fujiwara{

      .first{
        height: 70%;
        width: 40%;
        left: 50%;
        top: 25%;
        background: url('/images/nigo_jun/pharrel.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 80%;
        top: 10%;
        background: url('/images/nigo_jun/undercover2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        left: 25%;
        background: url('');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    &#yamazaki{

      .first{
        height: 40%;
        width: 40%;
        top: 57%;
        right: 55%;
        background: url('/images/yamazaki/pinkdragon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .second{
        height: 70%;
        top: 25%;
        background: url('/images/yamazaki/mensclub.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 2;
      }
      .third{
        height: 30%;
        width: 60%;
        top: 10%;
        right: 25%;
        background: url('/images/yamazaki/creamsoda.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 1;
      }
    }

    .tab-home{
      background: rgba(0,0,0,.0);
      border: .5em solid black;
      font-weight: 900;
      display: inline-block;
      margin-left: 5%;
      margin-top: 1%;

      &:hover{
        border-color: white;
        background: rgba(0,0,0,.8);
        color: white;
      }
    }
  }

}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
